# --- Framework Utama ---
streamlit
python-dotenv

# --- AI & RAG Stack ---
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters

chromadb
sentence-transformers

# --- Scraping & Crawling ---
beautifulsoup4
playwright

# --- Utilitas ---
requests
